body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  padding: 100px 20px;
  text-align: center;
  background: linear-gradient(135deg, #1e293b, #020617);
}

.projects {
  padding: 50px 20px;
  text-align: center;
}

.project-card {
  background: #1e293b;
  margin: 20px auto;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
}

.contact {
  padding: 50px;
  text-align: center;
}